 @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&family=M+PLUS+Rounded+1c:wght@400;500&family=Nunito:wght@200;300&family=Varela+Round&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&family=M+PLUS+Rounded+1c:wght@400;500&family=Nunito:wght@200;300&family=Ubuntu&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
   
}

body{
    background-color: rgb(139, 138, 137);
}

nav{
font-family:'Ubuntu','sans-serif';
}

nav ul{
    display: flex;
    list-style-type: none;
    height: 89px;
    background-color: black;
    color: white;
    align-items: center;
}

nav ul li{
    padding: 0 12px;
    font-size: large;
}

.brand img {
    width: 118px;
    position: relative;
    left: 5px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;

}

.container{
    min-height: 76vh;
    background-color: black;
    color: aliceblue;
    font-family: 'Varela Round' , sans-serif;
    display: flex;
    margin: 5px auto;
    width: 75%;
    border-radius: 12px;
    padding: 8px;
    background-image: url(/photo-1420161900862-9a86fa1f5c79.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%;
   

}


.bottom{
    position: absolute;
    height: 100px;
    background-color: black;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.icons{
    margin-top: 12px;
}

.icons i{
    cursor: pointer;
}

#myProgress{
    width: 80vw;
    text-align: center;
    padding: 4px 0px;
    cursor: pointer;
}
#back{
    margin-right: 20px;
}

#forward{
    margin-left: 20px;
}

.songItem{
    display: flex;
    background-color: white;
    
    border-radius: 40px;
    color: black;
    height: 45px;
    padding: 1px 28px;
    margin: 27px 8px;
    justify-content: space-between;
    align-items: center;

}

.songItem img{
    width: 60px;
    margin: 0px 0px;
    padding-left: 0;
    padding-right: 11px;
    padding-top: 0px;
    height: 40pxs;
    
}

.songlistplay{
    padding-left: 5px;
    padding-right: 0px;
}
.timespan i{
    cursor: pointer;
}

.songList{
    width: 44%;
    }



.songInfo{
    position: absolute;
    left: 10vw;
    height: 1vh;
}

.songInfo img{
opacity:0;

   transition:opacity 0.8s ease-in;
}
.timespan i {
    cursor: pointer;
    position: absolute;
    padding: 1px 5px;
}
@media(max-width:1250px){

   .songItemContainer{
    width: 50vw;
   }

   .fa-3x {
    font-size: 2em;
}
.container{
 background-size: auto;
}
}
@media(max-width:755px){

    .songList {
    width: 66%;
}
    .songItemContainer{
     width: 74vw;

    }
    .bottom{
        position: relative;
        height: 130px;
        background-color: black;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        flex-direction: column;
    }
    .songInfo {
      display: contents;
      padding-bottom: 4px;
    }

   
 }
 
@media(max-width:440px){

    .songItemContainer{
     width: 73vw;
    }

    .songList {
    width: 99%;
}
    .brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    left: 5px;
    font-size: 1.3rem;
    position: relative;
    left: -44px;
    text-align: center;
}
    .songItem {
        display: flex;
        background-color: white;
        border-radius: 46px;
        color: black;
        height: 46px;
        padding: 15px 28px;
        margin: 27px 8px;
        justify-content: space-between;
        align-items: center;
    }
    nav ul li {
    padding: 0 12px;
    font-size: large;
    position: relative;
    left: -26px;
}
 }